.footer {
  border-top: solid 1px gray;
}
.footerContainer {
  display: flex;
  flex-direction: column;
}
.footerContainer h2 {
  padding: 10px 10px;
  margin: 10px auto;
}
.footerForm,
.footerIcons,
.footerNav,
.footerPayment,
.footerRights {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin: 10px 10px;
  list-style: none;
}
input {
  padding: 10px 5px;
  width: 300px;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submitEmail {
  background-color: white;
  border: none;
  border-bottom: 2px solid;
}
.submitEmail svg {
  position: relative;
  top: 5px;
}
.submitEmail:hover {
  cursor: pointer;
}
.submitIcon {
  width: 25px;
  height: 25px;
  background-color: white;
}
.instagram {
  margin-right: 10px;
  height: 55px;
  width: 65px;
  border-radius: 10px;
  color: white;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}
.facebook {
  position: relative;
  bottom: 6px;
  height: 70px;
  width: 80px;
  color: #4267b2;
}
.youtube {
  position: relative;
  bottom: 6px;
  color: red;
  height: 70px;
  width: 80px;
}
.instagram,
.youtube,
.facebook {
  cursor: pointer;
}
.footerNav p {
  cursor: pointer;
  padding: 8px;
}
.footerPayment {
  display: flex;
}
.payment {
  margin: 10px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.applepay{
  border: solid black 1px;
}
.visa {
    border: lightslategrey 1px solid;
    color: 	#1A1F71;
}
.amex {
    color: #016FD0;
}
.zelle {
    width: 30px;
    border-radius: 5px;
    background: #937DC2;
    color: white;
}
.venmo {
    color: #008CFF;
}
.footerRights p {
  font-size: 12px;
}
